/*-------------- Color Subtitle -------------*/
.lightblue {
  color: lightblue;
}
.orange {
  color: orange;
}
.black {
  color: black;
}
.coklat {
  color: chocolate;
}
.font_-5em {
  font-size: 0.5em;
}
.font_-7em {
  font-size: .7em;
}
.font_-8em {
  font-size: .8em;
}
